* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50vh;
    color: white;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow: hidden;
}

.row {
    background: #111;
    width: 100%;
    height: 100vh;
}

div div {
    position: relative;
    background: #f7aa35;
    height: 50vh;
    width: 50vh;
    margin: 0 auto;
    clip-path: ellipse(40% 40%);
    animation: Bounce .8s infinite;
    animation-play-state: paused;
    z-index: 1;
}

.shadow {
    position: relative;
    background: #333;
    height: 50vh;
    width: 50vh;
    top: 20vh;
    margin: 0 auto;
    clip-path: ellipse(10% 1%);
    animation: Bounce-Shadow .8s forwards infinite;
    animation-play-state: paused;
    z-index: 0;
}

.clicked {
    animation-play-state: running;
}

.clicked-shadow {
    animation-play-state: running;
}

@keyframes Bounce-Shadow {
    0% {
        display: block;

        transform: translate(0%, 0%);
    }


    6% {
        transform: translate(10%, 0%);
    }

    12% {
        transform: translate(15%, 0%);


    }

    24% {
        transform: translate(35%, 0%);

    }

    36% {
        transform: translate(40%, 0%);


    }

    45% {

        transform: translate(40%, 0%);

    }

    54% {
        transform: translate(0%, 0%);
        clip-path: ellipse(40% 5%);

    }


    64% {
        transform: translate(-30%, 0%);


    }

    74% {
        transform: translate(-30%, 0%);

    }

    82% {
        transform: translate(-20%, 0%);

    }

    92% {
        transform: translate(-10%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes Bounce {
    0% {

        transform: translate(0%, 0%) rotate(0deg);
    }


    6% {
        transform: translate(10%, 5%);
    }

    12% {
        transform: translate(15%, 10.89%);


    }

    24% {
        transform: translate(35%, 43.56%) rotate(-10deg);
        clip-path: ellipse(40% 45%);

    }

    36% {
        transform: translate(40%, 75.02%);


    }

    45% {
        transform: translate(40%, 98%);

    }

    54% {
        transform: translate(0%, 100%) rotate(0deg);
        clip-path: ellipse(50% 40%);
        background: #f0326e;

    }


    64% {
        transform: translate(-30%, 98%);


    }

    74% {
        transform: translate(-30%, 75.02%);

    }

    82% {
        transform: translate(-20%, 43.56%) rotate(50deg);
        clip-path: ellipse(40% 50%);

    }

    92% {
        transform: translate(-10%, 10.89%);
    }

    100% {
        transform: translate(0%, 0%) rotate(0deg);
        clip-path: ellipse(40% 40%);

    }

}